
:root{
    --bright-color: lightblue;
    --dark-color: purple;
    --error-color: red;
    --valid-color: green;
}

*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}